<div class="flex items-center justify-center py-10 mx-5">
                        
    <div class="bg-neutral-900 rounded-xl text-white shadow-xl w-md pb-10 flex flex-col ">
            <div class="rounded-t-xl">
                <img
                src=<%= cardElements[1] %>
                class="w-full rounded-t-xl"
                />
            </div>

            

            <div class="flex text-white ml-10 text-2xl my-5 font-bold font-serif">
                <h1><%= cardElements[2] %></h1>
            </div>

            <div class="flex text-white text-lg mx-10">
                <p><%= cardElements[3] %></p>
            </div>


    </div>

</div>