<div class="flex items-center justify-center py-10 lg:mx-10">
                        
    <div class="bg-green-400 rounded-xl text-white shadow-xl w-sm lg:w-md flex flex-col">
            <div class="rounded-t-xl">
                <img
                src=<%= cardElements[0] %>
                class="w-fit rounded-t-xl "
                />
            </div>

            <div class="flex text-white text-2xl font-bold font-serif justify-center items-center py-5">
                <a href=<%= cardElements[2] %> class="text-white bg-emerald-600 rounded text-4xl p-2 hover:bg-emerald-700"><%= cardElements[1] %></a>
            </div>

    </div>

</div>