<div class="bg-gradient-to-b from-green-900 to-green-400 text-white py-20 flex flex-col justify-center w-screen">
    <div class="flex flex-col justify-center">

        <div class="text-white pt-20 flex flex-col">
            <div class="flex flex-col lg:flex-row">
                <div class="ml-10 lg:ml-0 w-2/4 lg:w-1/4 flex justify-center">

                    <div class="text-white mb-15 text-left flex flex-col">
                        <div class="flex justify-center flex-row">
                            <img src="https://static.thenounproject.com/png/512266-200.png" class="w-15" />
                            <button class="text-white bg-emerald-600 rounded text-lg md:text-2xl p-2 border-2 border-black">Sud America Travels</button>
                        </div>

                        <div class="mt-10">
                            <p>Lingua</p>
                            <div class="flex flex-row border text-sm rounded-3xl py-4 px-20 items-center mt-5">
                                <p class="">Italiano</p>
                                <img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" class="w-5" />
                            </div>

                        </div>

                        <div class="mt-10">
                            <p>Social</p>
                            <div class="flex flex-row">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/X_logo_2023_%28white%29.png" class="w-10 h-10 mr-2" />
                                <img src="https://pngcore.com/files/preview/901x583/117271575499ldpsm2hwtirlhlblpay91ptqz91akkfesgz5xujnqegpyzyutnb0jr9vrnt0gfhkfblo6pfyu5isot53qxb67mdhmyetfdshzqj.png" class="w-16 h-10 mr-2" />
                                <img src="https://img.icons8.com/m_sharp/512/FFFFFF/facebook-new.png" class="w-10 h-10 mr-4" />
                                <img src="https://freepnglogo.com/images/all_img/1701510949youtube-logo-png-white.png" class="w-14 h-10 mr-4" />
                                <img src="https://www.edigitalagency.com.au/wp-content/uploads/TikTok-icon-white-symbol-glyph-png.png" class="w-10 h-10" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-end">
                    <div class="w-full lg:w-3/4 flex-col lg:flex-row flex justify-center">

                        <div class="text-white mb-15 text-left flex flex-col lg:flex-row ml-10 lg:ml-0">
                            <div class="mr-20 px-0 lg:px-40 mb-10">
                                <h1 class="font-bold mb-3"><%= footerElementi[1] %></h1>
                                <ul>
                                    <% compagniaElementi.each do |elementi| %>
                                        <li key={index} class=" mb-1 flex flex-col">
                                            <%= elementi %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>

                            <div class="px-0 lg:px-40">
                                <h1 class="font-bold mb-3"><%= footerElementi[3] %></h1>
                                <ul>
                                    <% normeElementi.each do |elementi| %>
                                        <li key={index} class=" mb-1 flex flex-col">
                                            <%= elementi %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="ml-10 flex justify-center flex-col">
            <div class="flex justify-center flex-row mb-10">
                <p class="text-white bg-neutral-600 rounded text-lg md:text-2xl p-2">4.5/5</p>
                <p class="text-white bg-blue-600 rounded text-lg md:text-2xl p-2">Valutazione data da +450 recensioni</p>
            </div>

            <div class="flex justify-center flex-row">
                <img src="https://static.thenounproject.com/png/512266-200.png" class="w-15" />
                <button class="text-white bg-emerald-600 rounded text-lg md:text-2xl p-2 border-2 border-black">Sud America Travels</button>
            </div>
        </div>

    </div>

</div>