<div class="bg-gradient-to-b from-green-900 to-green-400 text-white py-20 flex flex-col justify-center">
    <div class="flex flex-col lg:flex-row justify-center">

        <div class="ml-10 flex justify-center">
            <div class="flex justify-center flex-row">
                <img src="https://static.thenounproject.com/png/512266-200.png" class="w-15" />
                <button class="text-white bg-emerald-600 rounded text-lg md:text-2xl p-2 border-2 border-black">Sud America Travels</button>
            </div>
        </div>

    </div>

</div>