
<div class="bg-[url('https://cdn.pixabay.com/photo/2016/11/07/05/16/south-america-1804901_1280.png')] w-screen bg-cover bg-center bg-no-repeat flex flex-col lg:flex-row justify-center items-center pb-4 text-center">
    <div class="text-white lg:w-2/4 py-96 mx-5 md:mx-20 lg:h-40">
        <h1 class="text-5xl font-bold"><%= landingMiddle[0] %></h1>
    </div>
</div>
