<h1 class="text-center justify-center pt-20 text-6xl lg:text-9xl text-white mx-20"><%= textElements[0] %></h1>
<p class="text-center justify-center py-20 text-2xl lg:text-5xl text-white mx-20"><%= textElements[1] %></p>

<div class="flex justify-center text-center items-center flex-col">
    <img src=<%= textElements[2] %> class="w-80" />
</div>
