<div class="bg-green-900 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO ARGENTINA!",
                    "Qui trovere L'itinerario per l'Argentina!",
                    "https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg"
                ]
            }
        %>

        <p class="text-center justify-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black">
            Adesso arriva l’Argentina, per cominciare il viaggio vi consigliamo Buenos Aires dove potrete esplorare tranquillamente e 
            gratuitamente i quartieri di San Telmo, La Boca, Palermo e Recoleta o fare una bella passeggiata al Parco della Memoria. 
            Per le attrazioni a pagamento vi consigliamo il Teatro Colòn (entrata circa 3€) e fare una passeggiata nei pressi del Parco della Memoria. 
            Oppure, per una ottima serata con l’atmosfera argentina si potrebbe fare una serata di tango o una tipica cena asado.<br/><br/>

            Per quanto riguarda il pernottamento dipende dal budget stesso, infatti ve ne consigliamo 3 in base al budget:<br/><br/>


            1)Alvear Palace Hotel (300-500€ a notte) hotel lussuoso situato a La Recoleta, dal servizio ed eleganza impeccabile, 
            ottimo per un'esperienza di lusso;<br/><br/>

            2)Home Hotel (150-250€ a notte) situato nella vivace Palermo, hotel boutique dal design moderno, 
            con tanto di piscina esterna e con un’atmosfera rilassante;<br/><br/>

            3)Ibis Styles Buenos Aires Florida (50-80€ a notte) situato nel cuore di Buenos Aires, a pochi passi dalla Plaza de Mayo e da Puerto Madero, 
            ottimo per visitare ed esplorare la città.<br/><br/>

            Per i mezzi di trasporto, vi consigliamo di prendere il volo (per i siti scegliere tra: Skyscanner, Google Flights e/o Momondo), 
            per quanto riguarda il costo stiamo dai 80-150€ per andare in Perù, di preciso a Cusco.<br/><br/>
        </p>

    </div>
</div>