<div class="bg-gradient-to-b from-blue-300 via-white to-blue-300 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO ARGENTINA!",
                    "Qui trovere L'itinerario per l'Argentina!",
                    "https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg"
                ]
            }
        %>

        <p class="flex text-center justify-center items-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black flex-col">
            <span><img src="https://st.ilfattoquotidiano.it/wp-content/uploads/2023/09/14/Argentina.jpg" class="w-xl lg:w-4xl rounded-2xl border-2 border-black"  /></span><br/><br/>
            
            In Argentina si inizia da Buenos Aires, esplorando gratis i quartieri di San Telmo, La Boca, Palermo e Recoleta, o passeggiando lungo il Parco della Memoria. Da non perdere il Teatro Colón (circa 3 €) e per la sera una cena asado o una serata di tango.<br/><br/>

            Per dormire, tre opzioni: il lussuoso Alvear Palace Hotel (300-500 €), il boutique Home Hotel a Palermo (150-250 €) e l’economico Ibis Styles Buenos Aires Florida (50-80 €), nel cuore della città.<br/><br/>

            Per spostarsi verso il Perù (Cusco), è consigliabile un volo (80-150 €) da prenotare su Skyscanner, Google Flights o Momondo.<br/><br/>
        </p>

        <div class="flex text-center justify-center items-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-emerald-500 mt-10 rounded-2xl border-2 border-black flex-col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Los_gauchos.jpg" class="w-xl lg:w-4xl rounded-2xl border-2 border-black"  />
            <h1 class="text-neutral-700"><br/>ITINERARIO AGGIUNTIVO: DAI GIORNI D'OGGI ALL'EPOCA GAUCHESCA!<br/><br/></h1>
            <p>
                
                Itinerario di 3 giorni in Argentina che combina storia moderna e tradizione gauchesca, accessibile e non troppo costoso.<br/><br/>

                Giorno 1: visita ai quartieri di Buenos Aires: San Telmo, Recoleta, Palermo e La Boca. Consigliato il Parco Temaikèn (100-140 €), grande bioparco accessibile e con ristori.<br/><br/>

                Giorno 2: escursione al Parco Nazionale di Iguazú (ingresso gratuito). Non accessibili le cascate in barca, ma il parco si può visitare con golf cart elettrici attrezzati e guida dedicata.<br/><br/>

                Giorno 3: nelle Pampas, si visita Santa Rosa: Estancia La Malvina, Mirador, e Parque Don Tomás, tutti con spazi accessibili e sentieri ampi. Interessante anche il mercato Feria Franca per prodotti locali e il Museo Gauchesco Ricardo Güiraldes (gratuito) a San Antonio de Areco, dedicato alla cultura gaucha.<br/><br/>
            </p>
        </div>

    </div>
</div>

