<div class="bg-gradient-to-r from-green-600 via-yellow-400 to-blue-900 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO BRASILE!",
                    "Qui trovere L'itinerario per il Brasile!",
                    "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png"
                ]
            }
        %>

        <p class="flex text-center justify-center items-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black flex-col">
            <span><img src="https://www.centumcellae.it/wp-content/uploads/2015/09/san-paolo-brasile.png" class="w-xl lg:w-4xl rounded-2xl border-2 border-black"  /></span><br/><br/>
            Il viaggio in Brasile parte da San Paolo, con una passeggiata nel centro storico, il Parco Ibirapuera e il Museo d’Arte, tutti accessibili anche a persone con disabilità. Da vedere la Cattedrale e il quartiere di Vila Madalena per la vita notturna. Pernottamento consigliato al Tryp by Wyndham São Paulo Higienópolis (80-130 € a notte).<br/><br/>

            Il terzo giorno si vola a Rio de Janeiro (50-120 €), visitando il Pan di Zucchero tramite funivia accessibile (15-25 €) e rilassandosi sulle spiagge di Copacabana e Ipanema, dotate di passerelle e sedie da spiaggia per disabili. Si consiglia anche il Giardino Botanico (4-6 €) e il Sambodromo, accessibile con qualche limitazione. A Rio si può scegliere il lussuoso Belmond Copacabana Palace (400-600 € a notte).<br/><br/>

            Per visitare i dintorni è possibile noleggiare un’auto (40-60 € al giorno) e per raggiungere Buenos Aires è consigliato l’aereo (50-100 €), prenotando su Skyscanner, Google Flights o Momondo.<br/><br/>
        </p>

        <div class="flex text-center justify-center items-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-emerald-500 mt-10 rounded-2xl border-2 border-black flex-col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Carnival_in_Rio_de_Janeiro.jpg" class="w-xl lg:w-4xl rounded-2xl border-2 border-black"  />
            <h1 class="text-neutral-700"><br/>ITINERARIO AGGIUNTIVO: CARNEVALE DI RIO!<br/><br/></h1>
            <p>
                Questo itinerario di 5 giorni è pensato per chi vuole vivere al massimo il Carnevale di Rio, con qualche costo extra ma esperienze indimenticabili.<br/><br/>

                Il Giorno 1 è dedicato alla celebre sfilata delle scuole di samba al Sambódromo. Si può assistere dalle gradinate (30-60€) o scegliere un pacchetto VIP (da 200€). Chi vuole può persino sfilare acquistando un costume (300-600€).<br/><br/>

                Il Giorno 2 si partecipa ai Blocos de Rua, feste di strada gratuite con oltre 500 cortei musicali. Tra i più famosi: Cordão do Bola Preta, Bloco da Preta e Céu na Terra. Si consiglia di prendere una birra o una caipirinha (2-4€) per godersi l’atmosfera.<br/><br/>

                Il Giorno 3 è dedicato al Baile do Copacabana Palace, un elegante party con musica e artisti famosi. I biglietti partono da circa 500€, per una serata esclusiva.<br/><br/>

                Il Giorno 4 si visita la Cidade do Samba, centro creativo dei carri e costumi del Carnevale. Tour guidati (15-20€) permettono di scoprire i laboratori e, spesso, fare una lezione di samba.<br/><br/>

                Infine, il Giorno 5 è dedicato al relax sulle spiagge di Copacabana, Ipanema o Leblon, con acqua di cocco (1,50-2,50€). Per chiudere in bellezza, si può salire al Cristo Redentore (15-20€) o al Pão de Açúcar (30€) per una vista spettacolare sulla città.<br/><br/>
            </p>
        </div>

    </div>
</div>
