<div class="bg-green-900 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO BRASILE!",
                    "Qui trovere L'itinerario per il Brasile!",
                    "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png"
                ]
            }
        %>

        <p class="text-center justify-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black">
            In Brasile per iniziare al meglio il viaggio consigliamo di partire da San Paolo, fare una passeggiata nel centro storico, facendo visita al Parco Ibirapuera, il Museo d’Arte di San Paolo, che è completamente accessibile con rampe, ascensori e parcheggi per disabili. Il museo ha anche supporti per chi ha difficoltà cognitive, come segnali chiari e audioguide, e la Cattedrale di San Paolo. Se ti interessa la vita notturna, esplora il quartiere di Vila Madalena. E’ tutto facilmente raggiungibile a piedi, in ogni caso ci sono sempre disponibili bus, taxi e altro a basso prezzo.<br/><br/>
            Per il pernottamento abbiamo varie opzioni ma consigliamo il Tryp by Wyndham São Paulo Higienópolis. Situato nel quartiere elegante di Higienópolis, offre camere moderne, una piscina panoramica e una buona posizione per esplorare la città ad un prezzo medio di 80-130 € a notte.<br/><br/>

            Nel 3 giorno in Brasile ci sposteremo a Rio de Janeiro, prendendo un volo interno da San Paolo che varia dai 50 ai 120 euro come costo, dipendendo dai periodi in cui si prenota. con una passeggiata sul Pan di Zucchero, un colle con una fantastica vista, per un prezzo di 15-25€, è accessibile tramite una funivia moderna, che ha cabine accessibili per persone con disabilità motorie. La vista panoramica è spettacolare e può essere goduta senza barriere architettoniche.<br/><br/>
            È una tappa imperdibile, ideale per chi ha difficoltà motorie. Poi continuiamo con un po’ di relax sulle spiagge di Copacabana e Ipanema, sono facilmente accessibili grazie alla presenza di passerelle di legno, che permettono a chi utilizza sedia a rotelle di avvicinarsi alla riva. Le spiagge sono dotate di sedie a rotelle speciali per la sabbia, disponibili su richiesta presso i chioschi delle spiagge. Puoi anche esplorare il giardino botanico ( costo 4-6€ ), è un luogo adatto per una passeggiata rilassante. Il parco è relativamente piatto, quindi non presenta grandi difficoltà di accesso, inoltre poi c’è il Sambodromo, se sei appassionato di cultura brasiliana questa è una struttura accessibile, ma l’ingresso principale può presentare qualche difficoltà per chi ha disabilità motorie gravi. Durante il Carnevale, ci sono sedili riservati per persone con disabilità, quindi sarebbe utile prenotare in anticipo.<br/><br/>
            Questo itinerario a Rio chiaramente verrà svolto con calma nell’arco di 3 giorni, con quindi opzioni di soggiorno più costose come il Belmond Copacabana Palace, un hotel iconico di lusso proprio sulla spiaggia di Copacabana, con piscine, spa e ristoranti gourmet, per un prezzo alto ma ragionevole di 400-600 € a notte.<br/><br/>
            Per visitare anche le città vicine potete tranquillamente noleggiare un auto, i costi sono dai 40 ai 60€ al giorno.<br/><br/>
            Come mezzo di trasporto per cambiare di stato (di preciso a Buenos Aires, in Argentina), vi consigliamo via aereo (per i siti scegliere tra: Skyscanner, Google Flights e/o Momondo) i prezzi variano in base ai siti elencati prima ma siamo intorno ai 50-100€ a tratta.<br/><br/>
        </p>

        <div class="text-center justify-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-emerald-500 mt-10 rounded-2xl border-2 border-black">
            <h1 class="text-neutral-700">ITINERARIO AGGIUNTIVO: CARNEVALE DI RIO!</h1>
            <p>
                Questo è un itinerario per i veri appassionati di Rio e soprattutto del suo famoso Carnevale, è un itinerario di 5 giorni che chiaramente comporta un costo aggiuntivo, ma ne varrà sicuramente la pena.<br/><br/>
                Riguardo il Giorno 1 è il momento più atteso del Carnevale di Rio è la sfilata delle scuole di samba nel celebre Sambódromo, dove si esibiscono con coreografie spettacolari e costumi straordinari. Gli spettatori possono scegliere tra posti sulle gradinate, più economici (30-60€), oppure vivere l’evento in modo esclusivo con un pacchetto VIP nei camarote (da 200€). Per chi vuole un’esperienza davvero indimenticabile, alcune scuole offrono anche la possibilità ai turisti di sfilare acquistando un costume (300-600€) e partecipare alla parata davanti a migliaia di persone. <br/><br/>
                Mentre il Giorno 2 si va nei Blocos de Rua, il vero cuore del Carnevale, le feste di strada gratuite che animano tutta la città. Con oltre 500 cortei musicali, ognuno con uno stile diverso, i più famosi sono il tradizionale Cordão do Bola Preta, il vivace Bloco da Preta e l’artistico Céu na Terra, ricco di maschere e musica dal vivo. Partecipare è gratis, ma per godersi l’atmosfera conviene acquistare qualcosa da bere nei chioschi (birra o caipirinha a 2-4€). <br/><br/>
                Durante il Giorno 3 per chi è appassionato davvero e vuole un’esperienza più raffinata, il Baile do Copacabana Palace è un evento esclusivo con artisti famosi e ambientazione lussuosa. L’ingresso non è per tutti: i biglietti partono da R$2.500 (500€), ma è una notte che sembra uscita da un film.<br/><br/>
                Siamo quasi alla fine, il Giorno 4 per scoprire cosa c’è dietro le quinte del Carnevale, vale la pena visitare la Cidade do Samba, il centro dove nascono costumi e carri allegorici. I tour guidati permettono di vedere da vicino il lavoro delle scuole di samba e spesso includono anche una lezione con ballerini professionisti. Il costo va dai 15 ai 20€, ma è un’esperienza affascinante per capire l’anima del Carnevale.<br/><br/>
                L’ultimo giorno, ovvero, il Giorno 5 dopo l’intensità del Carnevale, rilassarsi sulle spiagge di Copacabana, Ipanema o Leblon è l’ideale: puoi goderti il sole e una fresca acqua di cocco (1,50-2,50€). Per una vista spettacolare su Rio, vale la pena salire al Cristo Redentore (15-20€) o al Pão de Açúcar (circa 30€).<br/><br/>
            </p>
        </div>

    </div>
</div>
