<div class="bg-gradient-to-b from-blue-800 via-white to-red-500 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO CILE!",
                    "Qui trovere L'itinerario per il Cile!",
                    "https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/2560px-Flag_of_Chile.svg.png"
                ]
            }
        %>

        <p class="flex text-center justify-center items-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black flex-col">
            <span><img src="https://www.viaggio-centrosudamerica.com/wp-content/uploads/2020/02/Santiago-con-montagne-sullo-sfondo.jpg" class="w-xl lg:w-4xl rounded-2xl border-2 border-black"  /></span><br/><br/>
            Per raggiungere il Cile si prende un volo da Bogotá a Santiago del Cile, di 4-5 ore e con un costo tra 50 e 100 euro. È importante contattare la compagnia aerea in anticipo per richiedere assistenza speciale se necessario.<br/><br/>

            Arrivati a Santiago, si consiglia di visitare il Cerro San Cristóbal (2-5€), raggiungibile con una funicolare accessibile e con splendida vista panoramica sulla città. Da vedere anche il Museo della Memoria, dotato di strutture accessibili, e il Mercato Centrale, affollato ma in gran parte accessibile, ideale per assaggiare piatti tipici come ceviche e pastel de choclo.<br/><br/>

            Per il pernottamento si suggerisce il The Singular Santiago, hotel di lusso con camere accessibili, piscina panoramica e servizi per disabili, a un prezzo tra i 200 e i 350 euro a notte.<br/><br/>

            Per spostarsi in città si può noleggiare un’auto (30-50€ al giorno), oppure utilizzare taxi, Uber o i mezzi pubblici accessibili. Le strade di Santiago sono generalmente buone, ma è sempre meglio verificare le condizioni delle destinazioni prima di partire.<br/><br/>
        </p>

        

    </div>
</div>