<div class="bg-gradient-to-b from-blue-800 via-white to-red-500 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO CILE!",
                    "Qui trovere L'itinerario per il Cile!",
                    "https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/2560px-Flag_of_Chile.svg.png"
                ]
            }
        %>

        <p class="text-center justify-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black">
            Concludiamo il nostro viaggio con il Cile, una meta non molto visitata ma che offre molte esperienze uniche. 
            Per raggiungere il Cile ci occorre prendere un volo interno dalla Colombia, precisamente da Bogotà con arrivo a Santiago del Cile, 
            con durata di 4-5 ore e un costo tra i 50 e i 100 euro, offre assistenza per persone con disabilità. 
            È importante che contattiamo la compagnia aerea in anticipo per organizzare l'assistenza speciale, 
            come l'uso di sedie a rotelle o supporto per salire e scendere dall'aereo. 
            Arrivato in Cile puoi iniziare il tuo soggiorno esplorando Santiago, visita il Cerro San Cristòbal 
            ( costo 2-5 € ), una collina con vista su tutta la città molto famosa appunto per questo, offre una vista panoramica sulla città, 
            e la salita è possibile con una funicolare che è adatta a persone con disabilità fisiche.<br/><br/>

            L'accesso alla funicolare è generalmente agevole e la vista dalla cima è spettacolare. 
            Tuttavia, è sempre meglio verificare le condizioni di accessibilità del servizio prima della visita. 
            Proseguiamo visitando il Museo della Memoria, è accessibile e dispone di strutture adatte per persone con disabilità, 
            tra cui ascensori e rampe e il Mercato Centrale, che è un po' più affollato e può avere aree con pavimentazioni irregolari, 
            ma molte delle sue strutture sono accessibili, andremo lì per provare piatti tipici con ceviche o il pastel de choclo. <br/><br/>

            Parlando di soggiorno, si tratterà di 1 notte dove potrai alloggiare in hotel lussuosi come il The Singular Santiago, 
            un hotel di lusso in una posizione centrale, con camere moderne, piscina panoramica e ristorante gourmet. 
            Offre camere accessibili e servizi per persone con disabilità. È situato in una posizione centrale e dispone di strutture adatte, 
            come ascensori, camere ampie e accessibili e bagni con adeguate soluzioni per disabilità. 
            È una scelta ottima se si cerca il comfort e la sicurezza per un soggiorno piacevole. Ottima base per esplorare la città. 
            Prezzo: 200-350 € a notte. <br/><br/>

            Dato che il Cile è l’ultimo stato da visitare, vi consigliamo un auto a noleggio per il prezzo conveniente (30-50€ al giorno) 
            oppure tranquillamente un taxi/uber per spostarsi senza problemi (i costi dipendono dalla distanza). 
            Oppure, Santiago del Cile ha una rete di trasporti pubblici accessibile, con metropolitane e autobus che offrono accesso per sedie a rotelle. 
            È comunque consigliabile utilizzare taxi o servizi di ride-sharing (come Uber o Cabify) che offrono veicoli adatti. 
            Le strade di Santiago sono generalmente abbastanza buone, ma è sempre meglio verificare la destinazione prima per evitare aree 
            difficili da raggiungere.<br/><br/>
        </p>

        

    </div>
</div>