<div class="bg-gradient-to-r from-yellow-500 via-blue-500 to-red-500 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO COLOMBIA!",
                    "Qui trovere L'itinerario per il Colombia!",
                    "https://www.bandiere.it/uploads/2016-10-7/1200-0/repubblica-di-colombia.jpg"
                ]
            }
        %>

        <p class="text-center justify-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black">
            In Colombia, ti consigliamo di partire da Bogotá, esplorando il Centro Storico (La Candelaria) con le sue strade acciottolate e i colorati murales. Per le persone con disabilità motorie, la zona di La Candelaria potrebbe non essere completamente accessibile a causa delle strade acciottolate, quindi è consigliabile usare mezzi pubblici o taxi accessibili. Per visitare il Museo dell'Oro, che è accessibile alle persone in sedia a rotelle, potrai scoprire la straordinaria collezione di artefatti precolombiani (2-4 €). La funicolare per Monserrate offre un'ottima accessibilità per le persone con mobilità ridotta (4-9 €), permettendo di godere della vista panoramica sulla città senza difficoltà. Se vuoi scoprire altre bellezze, la Plaza Bolívar è completamente accessibile, così come il Museo Botero, che è strutturato per accogliere i visitatori con disabilità.<br/><br/>
            Per il pernottamento a Bogotá, le opzioni variano in base al budget e sono adatte a persone con disabilità motorie. Il Four Seasons Hotel Bogotá (250-450 €/notte) è un hotel lussuoso che offre stanze e strutture completamente accessibili, situato nel quartiere esclusivo di Zona T. L'Hotel de la Opera (100-150 €/notte) è un'altra scelta centrale e raffinata, anch'essa accessibile a persone con disabilità motorie. Per chi cerca un'opzione economica, l'Ibis Bogotá Museo (50-80 €/notte) è una scelta centrale e ben adattata alle esigenze di mobilità, con camere e servizi accessibili.<br/><br/>
            Il secondo giorno, puoi continuare a esplorare Bogotá, visitando altri luoghi iconici o passeggiando nei vivaci mercati locali. Tieni presente che alcuni mercati possono non essere completamente accessibili, quindi è meglio considerare opzioni alternative come il Centro Commerciale Andino, che offre spazi ampi e facilmente accessibili per le persone con disabilità. Se preferisci un soggiorno più economico, Casa de la Luna (20-40 €/notte) è una scelta semplice e conveniente, anche se potrebbero esserci limitazioni di accessibilità; è sempre meglio verificare in anticipo. Hotel Casa Galeria (40-70 €/notte) è una buona opzione, tranquilla e ben collegata, e offre camere accessibili.<br/><br/>
            La scelta più conveniente per spostarsi a Santiago del Cile è ovviamente tramite aereo (stessi siti elencati prima), con un costo che si aggira intorno ai 60-100€ a tratta partendo da Bogotá. Gli aeroporti colombiani, come l'Aeroporto El Dorado di Bogotá, sono dotati di servizi di assistenza per persone con disabilità motorie, come sedie a rotelle e accompagnatori, ma è sempre meglio avvisare la compagnia aerea con anticipo.<br/><br/>
        </p>

        

    </div>
</div>
