<div class="bg-gradient-to-r from-yellow-500 via-blue-500 to-red-500 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO COLOMBIA!",
                    "Qui trovere L'itinerario per il Colombia!",
                    "https://www.bandiere.it/uploads/2016-10-7/1200-0/repubblica-di-colombia.jpg"
                ]
            }
        %>

        <p class="flex text-center justify-center items-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black flex-col">
            <span><img src="https://media-assets.vanityfair.it/photos/65b4d577c5d37e1a23473189/master/pass/cartagena-a-city-of-color-tourists-and-food-1698187614.jpeg" class="w-xl lg:w-4xl rounded-2xl border-2 border-black"  /></span><br/><br/>
            
            In Colombia, si parte da Bogotá visitando il Centro Storico (La Candelaria) e i suoi murales, tenendo conto che le strade acciottolate possono creare difficoltà: meglio usare taxi o mezzi accessibili. Si consiglia il Museo dell’Oro (accessibile, 2-4 €), la funicolare per Monserrate (4-9 €) e il Museo Botero, tutti adatti a persone con disabilità motorie.<br/><br/>

            Per dormire, il Four Seasons Bogotá (250-450 €) è la soluzione più lussuosa e accessibile, l’Hotel de la Opera (100-150 €) è una scelta centrale e raffinata, mentre l’Ibis Bogotá Museo (50-80 €) è una buona opzione economica e accessibile.<br/><br/>

            Il secondo giorno si può continuare a esplorare Bogotá o visitare il Centro Commerciale Andino, completamente accessibile. Per chi cerca opzioni più economiche: Casa de la Luna (20-40 €) e Hotel Casa Galeria (40-70 €) sono valide alternative, ma meglio verificare l’accessibilità in anticipo.<br/><br/>

            Infine, per raggiungere Santiago del Cile si consiglia il volo da Bogotá (60-100 €), ricordando di segnalare in anticipo eventuali esigenze di assistenza in aeroporto.<br/><br/>
        </p>

        

    </div>
</div>
