<div class="bg-green-900 w-screen bg-no-repeat pb-10">
    <div class="">

        <%= render partial: 'Text',
            locals: {
                textElements: [
                    "ITINERARIO PERU'!",
                    "Qui trovere L'itinerario per il Peru'!",
                    "https://www.resolfin.com/wp-content/uploads/2020/05/Bandiera-Peru-con-lo-stemma.png"
                ]
            }
        %>

        <p class="text-center justify-center py-10 px-5 text-lg lg:text-2xl text-white mx-10 lg:mx-50 bg-green-700 mt-10 rounded-2xl border-2 border-black">
            In Perù, per iniziare il viaggio, consigliamo di partire da Cusco, arrivando la sera prima per acclimatarsi all’altitudine. Per chi ha disabilità motorie, è importante prenotare un transfer privato accessibile dall’aeroporto. Per il pernottamento a Cusco, si consiglia il Sonesta Hotel Cusco (80-120 €/notte), che dispone di camere accessibili e servizi adatti. In alternativa, l’Ibis Cusco (50-80 €/notte) rappresenta una buona opzione economica con alcune camere adattate (è consigliabile verificarne la disponibilità prima della partenza).<br/><br/>
            Il primo giorno, consigliamo di dirigersi verso la Valle Sacra per visitare i siti archeologici di Pisac e Ollantaytambo. Per chi viaggia con mobilità ridotta, è possibile organizzare un tour accessibile con guida privata, prenotando con agenzie specializzate. A Pisac, il mercato locale è facilmente visitabile, mentre l’area archeologica presenta limitazioni per chi è in sedia a rotelle. Ollantaytambo è affascinante, ma il sito ha barriere architettoniche; si consiglia di visitare il villaggio coloniale e il mercato. Per il pernottamento nella Valle Sacra, suggeriamo il Sonesta Posadas del Inca Yucay (100-130 €/notte), una struttura accogliente con ambienti accessibili e splendida vista sulla valle.<br/><br/>
            Il secondo giorno, partite di prima mattina verso Puno, evitando il lungo tragitto in bus (8-9 ore) e scegliendo invece un volo da Cusco a Juliaca (durata circa 1 ora). Una volta atterrati, prenotate un trasferimento accessibile fino a Puno (circa 45 minuti). A Puno, potete visitare il Lago Titicaca con una breve escursione in barca adatta alle esigenze motorie, visitando le isole galleggianti degli Uros. Anche in questo caso, vi consigliamo di affidarsi a operatori locali specializzati in accessibilità. Per il pernottamento, il Casa Andina Premium Puno (100-140 €/notte) è una scelta eccellente, con camere adattate e un’ottima vista sul lago.<br/><br/>
            Il terzo giorno si consiglia di prendere un volo da Juliaca a Lima (durata: 1h30), con compagnie come LATAM o Sky Airline. All’arrivo a Lima, è possibile esplorare la città prenotando un trasporto accessibile. Da non perdere il centro storico con Plaza Mayor e la Cattedrale, e il quartiere di Miraflores, che offre viste panoramiche sul mare. Il Museo Larco è altamente accessibile e consigliato per chi desidera approfondire la storia del Perù. Per il pernottamento a Lima, l'Hotel José Antonio (90-120 €/notte) o il Courtyard by Marriott Miraflores (120-160 €/notte) sono soluzioni moderne e completamente accessibili.<br/><br/>
            Per spostarsi dal Perù alla Colombia, vi consigliamo il volo da Lima a Bogotá, cioè in Colombia. Per quanto riguarda il prezzo, a seconda del sito e del periodo, si aggira intorno ai 60-100 € a tratta. Le compagnie come Avianca e LATAM forniscono assistenza per persone con disabilità, ma è importante segnalarlo al momento della prenotazione.<br/><br/>
        </p>

    </div>
</div>


